<!--	Start of About Section-->
      <section id="about" class="container content-section">
		  <h2 class="text-center">About Us</h2>
		  <p class="text-center">How <strong>Joe's Bike Rentals </strong> will change the world</p>
		  <br>
		  <div class="row">
			  <div class="col-md-4">
				  <div class="block block-icon-left">
					  <div class="icon-content">
						  <h3>Our Location</h3>
						  <p>The shop is centrally located to give ease of access to city and country </p>
                          <p>To facilitate the easy access to bike and their return</p>
                          <p>Our free and handy guides will help navigate you on your adventures around the city</p>
					  </div>
				  </div>
			  </div>
			  <div class="col-md-4">
				  <div class="block block-icon-left">
					  <div class="icon-content">
						  <h3>Service</h3>
						  <p>Our goal is to give you a great bike at a fair deal</p>
                          <p>Our team insure all bikes are service checked and tested before each rental </p>
					  </div>
				  </div>
			  </div>
			  <div class="col-md-4">
				  <div class="block block-icon-left">
					  <div class="icon-content">
						  <h3>Our Bikes </h3>
						  <p>Giant</p>
                          <p>Trek</p>
                          <p>Marin</p>
                          <p>Santa Cruz</p>
                          <p>Scott</p>
                          <p>Cannondale</p>
                          <p>Specialized</p>
					  </div>
				  </div>
			  </div>
		  </div>
      </section>  <!--	End About Section-->
