@import "bootstrap-sprockets";
@import "bootstrap";

#footer {
    text-align: center;
    padding-bottom: 2px;
}
body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
